{{#unless template}}
    {{#if label}}
        {{#if yieldInLabel}}
            {{#if labelWrapperClass}}
                <div class={{labelWrapperClass}}>
                    {{partial 'components/formgroup/control-within-label'}}
                {{#if v_icons}}
                    {{form-control-feedback icon=v_icon}}
                {{/if}}    
                </div>
            {{else}}
                {{partial 'components/formgroup/control-within-label'}}
                {{#if v_icons}}
                    {{form-control-feedback icon=v_icon}}
                {{/if}}        
            {{/if}}
        {{else}}
            {{#if labelWrapperClass}}
                <div class={{labelWrapperClass}}>
                    {{em-form-label text=label viewName=labelViewName}}
                    {{partial 'components/formgroup/form-group-control'}}
                </div>
               {{#if v_icons}}
                    {{form-control-feedback icon=v_icon}}
                {{/if}}
            {{else}}
            <div class="row">
                {{em-form-label 
                text=label
                viewName=labelViewName
                extraClass="col-sm-2"
                }}
                {{partial 'components/formgroup/form-group-control'}}
                {{#if v_icons}}
                    {{form-control-feedback icon=v_icon}}
                {{/if}}
            </div>
            {{/if}}
        {{/if}}
    {{else}}
        {{partial 'components/formgroup/form-group-control'}}
    {{/if}}

    {{!Currently no errors when layout is inline}}
    {{#unless form.isInline}}
        {{#if canShowErrors}}
            {{em-form-control-help text=help viewName=helpViewName}}
        {{/if}}
    {{/unless}}
{{else}}
    {{yield}}
{{/unless}}
